.App {
  text-align: center;
}

.main{
  height: 100%;
}
.main-name, 
.main-experience{
  color: whitesmoke;
  background-color: #004c9b;
}

.main-name h1, 
.main-experience h1{
  padding: 1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-education h1,
.main-skills h1
{
  padding: 1rem;
  color:  #004c9b;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-education h1, 
.main-skills h1{
  padding: 1rem;
  color:  #004c9b;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-name .profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  width: 50%;
}

.main-name p{
  font-family: 'Merriweather', serif; 
}

.main-name li{
  font-family: 'Merriweather', serif; 
}

.main-name li:hover{
       transform: scale(1.05);
}

.main-name .social-links{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.main-name .social-links i{
  color: whitesmoke;
  font-size: 40px;
  padding: 8px;
}

.main-name .social-links i:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
  opacity: 0.8;
}

.main-education p, 
.main-education ul,
.main-education li
{
  color: #004c9b;
  font-family: 'Merriweather', serif; 
}

.main-education h2{
  color: #004c9b;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.main-education h2:hover{
  opacity: 0.7;  
}

.main-education h3{
  color: #004c9b;
  font-size: 16px;
  font-style: italic;
}

.main-experience h2{
  color: white;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.main-experience h3{
  color: white;
  font-size: 16px;
  font-style: italic;
}

.main-experience ul, 
.main-experience li
{
  color: white;
  font-family: 'Merriweather', serif;
}







